@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-customBackground;
}

section {
  scroll-margin-top: 80px; /* Default value for larger screens */
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
  section {
    scroll-margin-top: 100px; /* Adjust this value based on your navbar height for smaller screens */
  }
}

@media (max-width: 480px) {
  section {
    scroll-margin-top: 120px; /* Adjust this value based on your navbar height for the smallest screens */
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slideIn 1.5s forwards;
}
